[package]
name = "plonk_gadgets"
version = "0.1.0"
authors = ["CPerezz <c.perezbaro@gmail.com>", "Victor Lopez <vhrlopes@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-traits = "0.2"
plonk = { git = "https://github.com/dusk-network/plonk", branch = "refactor_api" }
algebra = { git = "https://github.com/scipr-lab/zexe/", features = [ "parallel" ] }
ff-fft = { git = "https://github.com/scipr-lab/zexe/" }
poly-commit = { git = "https://github.com/scipr-lab/poly-commit", branch = "master" }
merlin = "2.0"